/*  your css code here. If applicable */
body
{
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#left
{
	width: 500px;
	margin-top: 70px;
	display: inline-block;
}

#left img
{
	width:400px;
}

form>input
{
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 10px;
}

form>button
{
	background-color: #1877f2;
	border-radius: 5PX;
	padding: 10px 20px;
	border: none;
}


form>a
{
	text-decoration: none;
	color: #1877f2;
}

form
{
	width:300px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px #ccc;
}

.signup
{
	background-color: #42b72a;
}

